{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">ABOUT PAGE</h3>
    <P >Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, rerum? Rerum consequatur vel aut natus praesentium, quod beatae minus sint porro temporibus cupiditate, reprehenderit at doloribus eius quo saepe! Sequi.</P>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus tenetur laudantium nostrum eos id illo vero, asperiores reiciendis dicta illum vel fuga rerum aspernatur iure adipisci quisquam. Placeat eveniet commodi esse quo odio provident repellendus sit ab dicta. Nam laudantium pariatur odio corporis dolorem eveniet deserunt praesentium cumque soluta dolores!</p>
</div>



{% endblock content %}